.new-tweet {
  margin-top: 40px;
}

.form-container {
  width: 95%;
  margin: 0px 20px;

}

.border-bottom {
  border-bottom: 3px solid black;
}

.counter {
  display: flex;
  justify-content: space-between;

}

#tweet-text {
  width: 100%;
  border: 1px solid #f8f5f1;
  background-color: #cfcdc9;

}

.tweet-submit {
  background-color: rgb(66, 66, 218);
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Bungee', cursive;
  margin-top: 10px;
  margin-bottom: 40px;

}

