
.tweet-post-container {
  border: 4px solid rgb(87, 87, 87);
  margin: 15px;
  padding: 5px 25px;


}

.tweet-post-container:hover {
  box-shadow: 5px 10px 10px #888888;
}

.tweet-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.tweet-profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  
}

.tweet-post-container footer {
  border-top: 3px solid black;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon{
  color: #545149;

}

.footer-icon:hover {
  color: rgb(153, 153, 83);

}

  /* Laptops / Desktops: minimum width of 1024px */
  @media only screen and (min-width: 1024px) {
    .breakpoint-desktop {
      display: flex;
      flex-direction: row;

    }

    .header-nav {
      width: 40%;
      margin-left: 40px;
      margin-top: 150px ;
    }
    .main-container {
      width: 50%;
      margin-top: 150px;
    }

   
    

  }
